* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 10px;
}
.addBook {
  margin: 10px;
  margin-right: 10%;
}
.bookShelf {
  width: 90vw;
  height: 70vh;
  z-index: 1;
  display: grid;
  margin: 5px;
  grid-template-rows: repeat(auto-fit, minmax(250px, 300px));
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 10px;
  align-items: center;
}
.coverDiv {
  position: absolute;
  top: 0px;
  z-index: 2;
  background-color: #3636368a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookCard {
  background-color: #cfe0fa;
  border: solid black 2px;
  display: grid;
  grid-template-columns: 2fr 3fr;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
}
.bookCard > p {
  justify-self: start;
  align-self: center;
  margin: 0;
}
.bookCard > h2 {
  font-size: 25px;
  margin: 0px;
  justify-self: center;
  align-self: center;
}
.bookCard > .readToggler {
  grid-column: 1/3;
}
.remove {
  width: 130px;
  height: 30px;
  padding: 0px;
}
p {
  font-size: 20px;
}
.read,
.read + p {
  display: none;
}
.bookCard > button {
  margin: 5px;
}
.formContainer {
  position: relative;
  z-index: 3;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40ch;
  height: 370px;
  bottom: calc(50% + 210px);
  left: calc(50% - 20ch);
}
input {
  width: 100%;
  margin-top: 5px;
}
